@tailwind base;
@tailwind components;
@tailwind utilities;

ion-menu::part(backdrop) {
  background-color: hsla(300, 10%, 88%, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(213, 209, 213, 0.18);
}
